*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: proxima-nova, sans-serif; }

html {
  border: 15px solid white; }

body {
  padding: 0 5rem;
  font-size: 1rem;
  line-height: 1.75rem;
  transition: all 0.5s;
  background-color: white;
  font-size: 1.05rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: .75rem;
      font-size: 1rem;
      line-height: 1.5rem; } }

h1 {
  font-family: proxima-nova, sans-serif;
  opacity: .86; }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 2.15rem;
      line-height: 2.75rem; } }

h2 {
  font-family: proxima-nova, sans-serif;
  opacity: .86; }

h4 {
  font-family: proxima-nova, sans-serif;
  opacity: .86;
  line-height: 2.25rem; }

.span-bold {
  text-transform: uppercase;
  font-weight: 600;
  color: #ADACB4;
  padding: 0; }

.image-description {
  color: #ADACB4; }
  @media only screen and (max-width: 37.5em) {
    .image-description {
      font-size: .75rem; } }

.pn-500 {
  font-weight: 500; }

.highlight {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 40%, rgba(27, 93, 249, 0.15) 40%, rgba(27, 93, 249, 0.15) 100%); }

.modal-backdrop {
  background-color: white;
  opacity: .90 !important; }

.modal-header {
  border-bottom: none;
  padding: 0; }

.modal-content {
  width: 65vw;
  transform: translate(25%, 6%);
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.close {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: black;
  opacity: .75;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 9999;
  transition: color .5s; }
  .close:hover {
    color: rgba(0, 0, 0, 0.5); }
  .close:before {
    content: 'close';
    font-size: 14px;
    padding-right: .25rem; }

.display-image {
  transition: all .5s; }
  .display-image:hover {
    cursor: zoom-in;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.nav {
  margin-top: 6rem;
  margin-bottom: 12rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      margin-top: 1rem;
      margin-bottom: 9rem; } }
  .nav .container .logo {
    width: 60px;
    height: 60px; }
    @media only screen and (max-width: 37.5em) {
      .nav .container .logo {
        width: 45px;
        height: 45px; } }
  .nav .nav-items {
    color: #ADACB4;
    font-size: 1.125rem; }
    @media only screen and (max-width: 37.5em) {
      .nav .nav-items {
        padding-top: 8px;
        font-size: 1rem; } }
    .nav .nav-items .nav-item {
      color: #ADACB4;
      text-decoration: none;
      transition: all 0.5s; }
      .nav .nav-items .nav-item:hover {
        color: #7B7A85; }
    .nav .nav-items .nav-active {
      color: #1B5DF9;
      transition: all 0.5s; }
      .nav .nav-items .nav-active:hover {
        color: #144DD5; }

.mb-2r {
  margin-bottom: 2rem; }

.mb-3r {
  margin-bottom: 3rem; }

.mb-6r {
  margin-bottom: 6rem; }

.mb-9r {
  margin-bottom: 9rem; }

.mb-n-small {
  margin-bottom: -.5rem; }

.mr-3r {
  margin-right: 3rem; }

.ml-3r {
  margin-left: 3rem; }

.ml-6r {
  margin-left: 6rem; }

.ml-n3r {
  margin-left: -3rem; }

.ml-n6r {
  margin-left: -6rem; }

.ml-n9r {
  margin-left: -9rem; }

.mr-n3r {
  margin-right: -3rem; }

.mt-1r {
  margin-top: 1rem; }

.mt-2r {
  margin-top: 2rem; }

.mt-3r {
  margin-top: 3rem; }

.mt-6r {
  margin-top: 6rem; }

.pt-3r {
  padding-top: 3rem; }

.pt-6r {
  padding-top: 6rem; }

.pl-3r {
  padding-left: 3rem; }

.pl-6r {
  padding-left: 6rem; }

.pr-3r {
  padding-right: 3rem; }

.pr-6r {
  padding-right: 6rem; }

.w-10 {
  width: 10%; }

.w-85 {
  width: 85%; }

.w-90 {
  width: 90%; }

.border-radius-sm {
  border-radius: 8px; }

.border-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.bg-accent {
  background-color: #D8D8D8; }

.z-top {
  z-index: 10; }

.z-bot {
  z-index: 1; }

.no-href-style {
  color: inherit;
  text-decoration: none; }
  .no-href-style:hover {
    color: inherit;
    text-decoration: none; }

.c-lgrey {
  color: #ADACB4;
  transition: color .5s; }
  .c-lgrey:hover {
    color: #7B7A85; }

.mask-top {
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 35%);
  mask-image: linear-gradient(to top, transparent 10%, black 35%); }

.box-shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); }

@media only screen and (max-width: 37.5em) {
  .mm-0r {
    margin: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .mmt-6r {
    margin-top: 6rem !important; } }

@media only screen and (max-width: 37.5em) {
  .mmb-6r {
    margin-bottom: 6rem !important; } }

@media only screen and (max-width: 37.5em) {
  .mmb-3r {
    margin-bottom: 3rem !important; } }

@media only screen and (max-width: 37.5em) {
  .mm-auto {
    margin: 0 auto !important; } }

.next-portfolio-image {
  width: 75px;
  height: 75px;
  margin-right: 2rem; }

@media only screen and (max-width: 37.5em) {
  footer .container {
    flex-direction: column;
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  footer .container .container-sm {
    text-align: center;
    padding: 0;
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 37.5em) {
  footer .container .container {
    text-align: center !important;
    padding: 0; } }

.profile-img {
  width: 75%; }

@media only screen and (max-width: 37.5em) {
  .about-container .row {
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .about-container .row .col {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .about-container .row .col-about-1 {
    text-align: center; } }

@media only screen and (max-width: 37.5em) {
  .about-container .row img {
    margin-left: 0 !important;
    margin-bottom: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .about-container .row .profile-img {
    width: 100% !important; } }

@media only screen and (max-width: 37.5em) {
  .about-container .row h1 {
    margin-left: 0 !important;
    font-size: 3rem !important; } }

.figma-display {
  width: 100%;
  height: 800px; }

@media only screen and (max-width: 37.5em) {
  .cs-title span {
    font-size: .75rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-title h1 {
    margin-bottom: 3rem !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-title img {
    margin-bottom: 6rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .row {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .row .col {
    padding: 0;
    margin-bottom: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .row .col span {
    font-size: .75rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .row .col-4 {
    width: 100%;
    max-width: 100%;
    flex: 1 !important;
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .row .col-4 span {
    font-size: .75rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .container-sm {
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  .cs-overview .container-sm video {
    width: 300px !important;
    height: 550px !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-problem {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6rem !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-problem ul {
    padding-left: 2rem !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-m-span {
    margin-top: 0 !important;
    margin-bottom: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details {
    margin-bottom: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-details .container {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (max-width: 37.5em) {
  .cs-details .container ul {
    padding-left: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-images {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-images .col {
    padding: 0;
    margin-bottom: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-images .col p {
    width: 100% !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-2 {
    flex-direction: column;
    margin: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-2 .cs-image {
    order: 2 !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-2 .col {
    padding: 0;
    order: 1; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-2 .col img {
    margin: 0;
    padding: 0;
    width: 100% !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-2 .col h2 {
    padding-top: 1rem !important;
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-2 .col p {
    width: 100% !important;
    margin-bottom: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-3 {
    width: 100% !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-3 .cs-exploration {
    margin-bottom: 3rem !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-3 .row {
    flex-direction: column;
    margin: 0; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-3 .row .col-4 {
    flex: 1 !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-3 .row .col-4 h2 {
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-details-3 .row .col {
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  .cs-outcome span {
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 37.5em) {
  .cs-outcome p {
    margin-top: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-next {
    width: 100% !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-next .image-container {
    width: 100% !important;
    text-align: center; } }

@media only screen and (max-width: 37.5em) {
  .cs-next .image-container span {
    text-align: center; } }

@media only screen and (max-width: 37.5em) {
  .cs-nav {
    width: 100% !important; } }

@media only screen and (max-width: 37.5em) {
  .cs-nav .image-container {
    width: 100% !important;
    text-align: center; } }

@media only screen and (max-width: 37.5em) {
  .cs-nav .image-container span {
    text-align: center; } }

@media only screen and (max-width: 37.5em) {
  .title-container {
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  .title-container .title {
    width: 95% !important; } }

@media only screen and (max-width: 37.5em) {
  .case-studies-container {
    padding: 0; } }

@media only screen and (max-width: 37.5em) {
  .case-studies-container .case-study-right {
    width: 100% !important;
    padding: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .case-studies-container .case-study-right .case-study {
    flex-direction: column; } }

@media only screen and (max-width: 37.5em) {
  .case-studies-container .case-study-right .case-study .cs-text {
    order: 2;
    padding: 0;
    text-align: left !important; } }

@media only screen and (max-width: 37.5em) {
  .case-studies-container .case-study-right .case-study .cs-text h2 {
    padding: 1.5rem 0;
    margin: 0; } }

@media only screen and (max-width: 37.5em) {
  .case-studies-container .case-study-right .case-study .cs-text p {
    width: 100%;
    margin: 0;
    padding-bottom: 1.5rem; } }

.portfolio-img-container {
  display: block;
  overflow: hidden;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .portfolio-img-container {
      order: 1 !important; } }
  .portfolio-img-container .portfolio-img {
    width: 100%;
    transition: all .5s ease; }
    .portfolio-img-container .portfolio-img:hover {
      transform: scale(1.033);
      transform-origin: 50%,50%;
      cursor: pointer; }

.center-div {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%); }

.con-text {
  color: white;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  opacity: .75; }
  .con-text img {
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: .5rem; }

.con-name {
  opacity: 1;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%); }

@media only screen and (max-width: 37.5em) {
  .container {
    padding-left: 0;
    padding-right: 0; } }
