.title-container {
    @include responsive(phone) {
        padding: 0;
    }

    .title {
        @include responsive(phone) {
            width: 95%!important;
        }
    }
}

.case-studies-container {
    @include responsive(phone) {
        padding: 0;
    }
 
    .case-study-right {
        @include responsive(phone) {
            width:100%!important;
            padding: 0!important;
        }

        .case-study {
            @include responsive(phone) {
                flex-direction:column;
            }

            .cs-text {
                @include responsive(phone) {
                    order: 2;
                    padding: 0;
                    text-align: left !important;
                }
                h2 {
                    @include responsive(phone) {
                        padding: 1.5rem 0;
                        margin: 0;
                    }
                }

                p {
                    @include responsive(phone) {
                        width:100%;
                        margin: 0;
                        padding-bottom: 1.5rem;
                    }
                }

            }
        }
    }
}

.portfolio-img-container {
    display: block;
    overflow: hidden;
    width: 100%;
    @include responsive(phone) {
        order: 1 !important;
    }
    .portfolio-img {
        width: 100%;
        transition: all .5s ease;

        &:hover {
            transform: scale(1.033);
            transform-origin: 50%,50%;
            cursor: pointer;
        }
    }
}


// PAGE DOWN
.center-div {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.con-text {
    color: white;
    letter-spacing: 3px;
    font-weight:300;
    text-align: center;
    opacity: .75;

    img {
        width: 20px;
        height: 20px;
        margin-top:-4px;
        margin-right: .5rem;
    }
}
.con-name {
    opacity: 1;
    position:absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

