// $font-primary:'Playfair Display', serif;
$font-primary: proxima-nova, sans-serif;

$color-primary: #1B5DF9;
$color-primary-hover: #0544D8;
$color-lgrey: #ADACB4;
$color-lgrey-hover: #7B7A85;
$color-background: #F7F7F7;